*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Monserrat'
}
header{
	background-image: url(img/Rectangle.png);
	background-repeat: no-repeat;
}
.navbar{
	padding-bottom: 40px;
}
.nav{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	width: 590px; 
	margin: auto;
	padding-top: 40px;
}
.links{
	color: white;
	text-decoration: none;
}
.navs:hover{
	border-bottom: 3px solid white;
	transition: .2s;
}
.peredovaja-rod{
	width: 1170px;
	margin: auto;
	color: white;
}
